{% extends "base.html" %}

{% block content %}
    <div>
        <a href="{% url 'posts' %}" class="btn btn-outline-primary">Back to posts</a>
    </div>

    <article class="blog-post">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
              <h1 class="display-4 fst-italic">{{ post.title }}</h1>
              <p class="lead my-3">{{ post.description|default:"Empty description" }}</p>
            </div>
        </div>

        {% if not post.content %}
            <div class="alert alert-danger">
                Empty content
            </div>
        {% endif %}

        {{ post.content }}
    </article>
{% endblock %}
